// size, height, width
hNav = 54px
h-block-header = 40px
/** Z-INDEX */
z-nav = 100
zNavSubnav = -1
zAd = 500
z-dialog = 800
z-widget-btm = 2000
zModal = 3000

/** COLOR  */
//app

c-1 = #f9022b
c-1s = #c50b28
c-1t = #f73858
c-2 = #000
c-2s = #252525
c-2t = #333333
c-3 = #4d525e
c-3s = #3e424b
c-3t = #71757f
c-4 = #babdc1
c-4s = #95979a
c-4t = #c8cacd
c-5 = #f1f2f4
c-5s = #c1c2c3
c-5t = #f4f5f6
c-6 = #757680
c-7  = #1c2432
//ios
c-ios-red     = rgb(255  59  48)
c-ios-orange  = rgb(255 149  48)
c-ios-yellow  = rgb(255 204   0)
c-ios-green   = rgb( 76 217 100)
c-ios-tealBlue= rgb( 90 200 250)
c-ios-blue    = rgb(  0 122 255)
c-ios-purple  = rgb( 88  86 214)
c-ios-pink    = rgb(255  45  85)
