for i in (1..8)
  #div-gpt-ad-leaderboard{i}
    margin 0 auto
    text-align center
    //border 1px dashed grey
.ad
  &.block
    padding-top 15px
    padding-bottom 15px
    width 100%
  .ad-imu
    width 100%
    overflow hidden
    //border 1px dashed grey
    &.imu-odd
      height 250px
    &.imu-even
      height 600px
  .ad-oop
    height 0
    overflow hidden
#div-gpt-ad-imu0
  margin-bottom 20px
@media (max-width 768px)
  #ad-fix
    position fixed
    left 0
    bottom hNav
    width 100%
    height 50px
    overflow hidden
    z-index z-nav
    margin 0
    background-color white
    padding 0
    //border 1px dashed grey
  #div-gpt-ad-leaderboard1
    height 50px
  for i in (2..8)
    #div-gpt-ad-leaderboard{i}
      height 100px
      padding 0
