/*!
 *  Font Awesome 4.7.0 by @davegandy - http//fontawesome.io - @fontawesome
 *  License - http//fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */
/* FONT PATH
 * -------------------------- */
// @font-face
//   font-family 'FontAwesome'
//   src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot')
//   src:url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
//       url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
//       url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
//       url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.ttfv=4.7.0') format('truetype'),
//       url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg')
//   font-weight normal
//   font-style normal

// .fa 
//   display inline-block
//   font normal normal normal 14px/1 FontAwesome
//   font-size inherit
//   text-rendering auto
//   -webkit-font-smoothing antialiased
//   -moz-osx-font-smoothing grayscale

// /* makes the font 33% larger relative to the icon container */
// .fa-lg 
//   font-size 1.33333333em
//   line-height 0.75em
//   vertical-align -15%

// .fa-2x 
//   font-size 2em

// .fa-3x 
//   font-size 3em

// .fa-4x 
//   font-size 4em

// .fa-5x 
//   font-size 5em

// .fa-fw 
//   width 1.28571429em
//   text-align center

// .fa-ul 
//   padding-left 0
//   margin-left 2.14285714em
//   list-style-type none

// .fa-ul > li 
//   position relative

// .fa-li 
//   position absolute
//   left -2.14285714em
//   width 2.14285714em
//   top 0.14285714em
//   text-align center

// .fa-li.fa-lg 
//   left -1.85714286em

// .fa-border 
//   padding .2em .25em .15em
//   border solid 0.08em #eeeeee
//   border-radius .1em

// .fa-spin 
//   -webkit-animation fa-spin 2s infinite linear
//   animation fa-spin 2s infinite linear

// .fa-pulse 
//   -webkit-animation fa-spin 1s infinite steps(8)
//   animation fa-spin 1s infinite steps(8)

// @-webkit-keyframes fa-spin 
//   0% 
//     -webkit-transform rotate(0deg)
//     transform rotate(0deg)
  
//   100% 
//     -webkit-transform rotate(359deg)
//     transform rotate(359deg)
  

// @keyframes fa-spin 
//   0% 
//     -webkit-transform rotate(0deg)
//     transform rotate(0deg)
  
//   100% 
//     -webkit-transform rotate(359deg)
//     transform rotate(359deg)
  

// .fa-rotate-90 
//   transform rotate(90deg)

// .fa-rotate-180 
//   transform rotate(180deg)

// .fa-rotate-270 
//   transform rotate(270deg)

// .fa-flip-horizontal 
//   transform scale(-1, 1)

// .fa-flip-vertical 
//   transform scale(1, -1)

// :root .fa-rotate-90,
// :root .fa-rotate-180,
// :root .fa-rotate-270,
// :root .fa-flip-horizontal,
// :root .fa-flip-vertical 
//   filter none

// .fa-stack 
//   position relative
//   display inline-block
//   width 2em
//   height 2em
//   line-height 2em
//   vertical-align middle

// .fa-stack-1x,
// .fa-stack-2x 
//   position absolute
//   left 0
//   width 100%
//   text-align center

// .fa-stack-1x 
//   line-height inherit

// .fa-stack-2x 
//   font-size 2em

// .fa-inverse 
//   color #ffffff

// .sr-only 
//   position absolute
//   width 1px
//   height 1px
//   padding 0
//   margin -1px
//   overflow hidden
//   clip rect(0, 0, 0, 0)
//   border 0

// .sr-only-focusableactive,
// .sr-only-focusablefocus 
//   position static
//   width auto
//   height auto
//   margin 0
//   overflow visible
//   clip auto

// // customize
// .fa-angle-double-left:before 
//   content "\f100"

// .fa-angle-double-right:before 
//   content "\f101"
// .fa-bell:before
//   content: "\f0f3"
// .fa-caret-down:before
//   content: "\f0d7"
// .fa-caret-up:before
//   content: "\f0d8"
  
// .fa-check:before
//   content: "\f00c"
// .fa-check-circle:before
//   content: "\f058"

// .fa-close:before
//   content "\f00d"
// .fa-edit:before
//   content: "\f044"
  
// .fa-facebook:before 
//   content "\f09a"
// .fa-file:before 
//   content: "\f15b"
// .fa-github:before 
//   content "\f09b"

// .fa-google:before 
//   content "\f1a0"

// .fa-heart:before
//   content "\f004"
// .fa-heart-o:before
//   content "\f08a"
// .fa-pencil:before
//   content: "\f040"
// .fa-plus:before 
//   content "\f067"

// .fa-reply:before 
//   content: "\f112"

// .fa-toggle-off:before 
//   content: "\f204"
// .fa-toggle-on:before
//   content: "\f205"

// .fa-twitter:before 
//   content "\f099"

// // rotate 90deg
// .hover_rotate_90:hover
//   transform rotate(90deg)
//   transition-duration .3s

// // scale
// .hover_scale:hover
//   transform scale(1.1)
//   transition-duration .3s

// .fa-toggle-off
//   color c-grey
// .fa-toggle-on,
// .fa-check,
// .fa-check-circle
//   color c-ios-green